@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Questrial&display=swap');

*{
    box-sizing: border-box;
}

@media (max-width: 800px){
    .screen,
    .controls{
        width: 100%;
    }
    
}

body{
    font-family: 'Questerial', sans-serif;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    
    background-color: #666;
    flex-direction: column;
    
}

h1{
    color: #fff;;
}

.screen{
    cursor: pointer;
    width: 50%;
    background-color: black !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.controls{
    width: 50%;
    background-color: #333;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.controls .btn{
    border: 0;
    background: transparent;
    cursor: pointer;
}

.controls .fa-play{
    color: #28a745;
}

.controls .fa-pause{
    color: #fff;
}

.controls .fa-stop{
    color: #dc3545;
}

.controls .timestamp{
    color: #fff;
    margin: 0 10px;
}